@import url("https://fonts.googleapis.com/css?family=Overpass");

$darkBackgroundColor: hsl(228, 11%, 9%);
$gradient-color: hsl(225, 19%, 12%);
$gradient-color2: hsl(215, 20%, 17%);
$white: white;

$offset: 50%;

*{
    /*BOILERPLATE STYLES*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass";
}
body{
    background-color: $darkBackgroundColor;
}
.rating-component-container{
    position: absolute;
    top: $offset;
    left: $offset;
    transform: translate(-$offset, -$offset);
    padding: 1.5rem;
    border-radius: 1rem;
    background: linear-gradient($gradient-color2,$gradient-color);
    color: $white;
    width: 20.5rem;
}

@media (min-width: 700px) {
    .rating-component-container{
        width: 25.75rem;
        border-radius: 1.5rem;
        padding: 1.875rem;
    }
}

@import 'rating';
@import 'thank-you';